* {
    box-sizing: border-box;
  }

  .column {
    float: left;
    width: 50%;
    padding: 10px;
}
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.card {
    width: 100%;
    background-color: rgb(187, 236, 240);
    text-align: justify;
}

.card-text {
    color: black;
    font-family: "Cabin Sketch",cursive;
    margin-left: 15%;
    padding: 0%;
}

p:first-of-type {
    padding-top: 25%;

}

.card-title {
    font-size: 300%;
    margin-top: 1%;
    color: black;
    font-weight: bolder;
}

.card-img-top {
    border-radius: 25%;
}

.btn-primary {
    width: 50%;
    font-size: 120%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.btn-primary:hover:hover {
    background-color: #53caee; 
    color: black;
    font-weight: bolder;
}
  

  
