* {
    box-sizing: border-box;
  }

.column {
    float: left;
    width: 50%;
    padding: 10px;
}
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

li {
    list-style: none;
    margin: 0 0 10px 0;
}
.food-list {
    width: auto;
    float: left;
    padding: auto;
    border: 1px solid plum;
    /* border-bottom: 1px solid #eeeeee;
    /* border-left:1px solid #000;
    height:400px */
}

.food-list__food-name {
    width: auto;
    float: left;
    padding: auto;
    /* border: 1px solid red; */

    /* margin-left: 200px;
    text-align: justify;
    text-justify: inter-word;
    color: plum; */
}

.food-list__food-image {
    float: left;
    padding: 15px;
    /* margin-left: 5%; */
    width: 175px;
    height: auto;
    border: 5px solid #555;
}

.food-list__food-category {
    /* width: 25%;
    float: left;
    padding: 15px;
    border: 1px solid red; */
    /* margin-left: 200px; */
    width: auto;
    /* float: left; */
    padding: auto;
    margin: 0 0 10px 0;
    color: whitesmoke;
    text-align: right;
}

.food-list__food-btn {
    width: 25%;
    float: right;
    padding: 15px;
    color: black;
    background-color: bisque;
    border: 1px solid rgb(0, 208, 255);
    /* margin-right: 815px; */
}

.food-list__food-btn:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}