:root {
    --themeColor: rgb(61, 190, 230);
    --hoverColor: rgb(105, 95, 171); 
    --amplify-primary-color: rgb(77, 173, 236);
    --amplify-primary-tint: rgb(39, 39, 151); 
    --amplify-primary-shade: rgb(105, 95, 171);
  }