li {
    margin-top: 1%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: left;
    font-family: "Cabin Sketch",cursive;
}

div {
    margin-top: 2%;
    margin-bottom: 2%;
}

label {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: left;
    margin-bottom: 1%;
    margin-left: 1%;
}

input {
    margin-left: 1%;
}

h1 {
    margin-top: 40%;
}